.floating-btn{
  position:fixed;

  right:25px;

  width:60px;
  height:60px;

  border-radius:50%;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:24px;

  color:#fff;

  z-index:999;

  text-decoration:none;

  border:none;

  cursor:pointer;

  box-shadow:
  0 8px 25px rgba(0,0,0,.25);

  transition:.3s;
}

.floating-btn:hover{
  transform:scale(1.1);
}

.whatsapp-btn{
  bottom:140px;
  background:#25D366;
}

.call-btn{
  bottom:70px;
  background:#d4af37;
  color:black;
}

.top-btn{
  bottom:210px;
  background:#0f172a;
  color:#d4af37;
  border:1px solid #d4af37;
}